* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.navigation {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(68 155 255);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Proxima Nova', sans-serif;
}

.navigation__link {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.blog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  background-color: antiquewhite;
}

.blog-item {
  margin:5px;
  padding: 0px 20px;
  display: inline-block;
  background-color: #fafafa;
  width: 500px;
  height: 300px;
  font-family: 'Proxima Nova', sans-serif;
  border: 1px solid black;
  box-shadow: 2px 2px 0 black;
  position: relative;
}

.blog-item__header div{
  display: inline;
}

.blog-item__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.blog-item__body {
  margin: 20 0px;
}

.blog-item__footer {
  position: absolute;
  bottom: 10px;
}