@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* font-family: 'Proxima Nova', sans-serif; */
}

.content {
  border-radius: 0.9375rem;
  border-bottom: 1px solid rgba(184, 185, 186, 0.45);
}

.content-white {
  background: #F9FAFB;

}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #F1F5F8;
}

.blog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-item {
  margin: 5px;
  padding: 0px 20px;
  background-color: #fafafa;
  border: 1px solid black;
  box-shadow: 2px 2px 0 black;
  position: relative;
  float: left;
  border-radius: 6px;
}

.blog-item__header {
  margin-top: 0.5em;
}

.blog-item__body {
  margin-top: 0.5em;
}

.blog-item__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.blog-item__footer {
  bottom: 10px;
  right: 0;
  left: 0;
  width: 100%;
}

.blog-item__reactions {
  display: inline-block;
  margin: 0 2em;
}

.blog-item__comments {
  display: inline-block;
}